
  header {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header a {
    position: relative;
    text-decoration: none;
    color: var(--color-foreground);
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
  }
  header a label {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    background-color: var(--color-foreground);
    color: var(--color-background);
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    font-weight: 600;
    overflow: visible;
  }
  header svg {
    width: 2rem;
  }
  header .header__menu,
  header .header__icons {
    display: flex;
    gap: 1rem;
  }
  button.icon-close-container {
    background-color: rgba(31,31,31, .3);
    color: rgba(31,31,31, 1);
    padding: 12px;
  }
  .x-search-popup.popup-hidden {
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: .5s height cubic-bezier(.73, .32, .34, 1.5), .2s .1s opacity, .2s visibility, transform 1s cubic-bezier(.19, 1, .22, 1);
  }
  .x-search-popup {
    height: 175px;
    opacity: 1;
    visibility: visible;
    transition: .5s height cubic-bezier(.73, .32, .34, 1.5), .2s .1s opacity, .2s visibility, transform 1s cubic-bezier(.19, 1, .22, 1);
  }
  .icon-close-animation {
    width: 16px;
    height: 16px;
    transition: transform .5s cubic-bezier(0.3, 1, 0.3, 1) ;
  }
  .icon-close-container:hover .icon-close-animation {
  transform: rotate(180deg);
  }
  .outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  .border-color {
    border-color: rgba(238, 238, 238, 1)
  }
  .border-b {
    border-bottom-width: 1px;
  }
  .border-r {
    border-right-width: 1px;
  }
  .border-t {
    border-top-style: solid;
    border-top-width: 1px;
  }
  .background-header {
    background-color: rgb(255,255,255);
  }
  .link-active,
  .effect-inline {
    color: rgb(118, 107, 79);
  }
  .ml-5 {
    margin-left: 1.25rem;
  }
  .price-scale {
    color: rgb(112,36,36);
  }
  .ml-1 {
    margin-left: 0.25rem;
  }
  .w-full {
    width: 100%;
  }
  .content-results-vertical .line-spacing {
    border-top-width: 1px;
  }
  @media (min-width:1024px){
    .content-horizontal .line-spacing, .content-results-vertical .line-spacing {
    border-top-width: 0px;
    border-left-width: 1px;
  }
  }
